# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [109]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [110]:
df = pd.read_csv('demo01.csv')
df1 = df.copy()
df1

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
16646,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
16647,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16648,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16649,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [111]:
#Quantidade de missing
df1.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [112]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [113]:
df1.drop_duplicates(ignore_index=True, inplace=True)
df1.mau.value_counts()

mau
False    6472
True      298
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [123]:

metadados = pd.DataFrame(df1.dtypes, columns=['tipo_dado'])

qtd_categorias = []
for col in df1.columns:
    qtd_categorias.append(df1[col].unique())

metadados['qtd_categorias'] = qtd_categorias
metadados

,tipo_dado,qtd_categorias
sexo,int64,"[1, 0]"
posse_de_veiculo,int64,"[1, 0]"
posse_de_imovel,int64,"[1, 0]"
qtd_filhos,int64,"[0, 1, 3, 2, 4, 5, 14, 7]"
idade,float64,"[58.83287671232877, 52.35616438356164, 46.2246..."
tempo_emprego,float64,"[3.106849315068493, 8.35890410958904, 2.106849..."
possui_celular,int64,[1]
possui_fone_comercial,int64,"[0, 1]"
possui_fone,int64,"[0, 1]"
possui_email,int64,"[0, 1]"
qt_pessoas_residencia,float64,"[2.0, 1.0, 5.0, 3.0, 4.0, 6.0, 15.0, 9.0, 7.0]"
mau,int64,"[0, 1]"
tipo_renda_Pensioner,int64,"[0, 1]"
tipo_renda_State servant,int64,"[0, 1]"
tipo_renda_Student,int64,"[0, 1]"
tipo_renda_Working,int64,"[1, 0]"
educacao_Higher education,int64,"[0, 1]"
educacao_Incomplete higher,int64,"[0, 1]"
educacao_Lower secondary,int64,"[0, 1]"
educacao_Secondary / secondary special,int64,"[1, 0]"
estado_civil_Married,int64,"[1, 0]"
estado_civil_Separated,int64,"[0, 1]"
estado_civil_Single / not married,int64,"[0, 1]"
estado_civil_Widow,int64,"[0, 1]"
tipo_residencia_House / apartment,int64,"[1, 0]"
tipo_residencia_Municipal apartment,int64,"[0, 1]"
tipo_residencia_Office apartment,int64,"[0, 1]"
tipo_residencia_Rented apartment,int64,"[0, 1]"
tipo_residencia_With parents,int64,"[0, 1]"

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [115]:
df1.posse_de_veiculo.unique()[0]

'Y'

In [120]:
def process_categorical_columns(df):
    for col in df.columns:
        # Verifica se a coluna é categórica (tipo 'object') e tem exatamente dois valores únicos
        if (df[col].dtype == 'object') and (len(df[col].unique()) == 2):
            unique_values = df[col].unique()
            # Mapeia os dois valores para 1 e 0
            df[col] = df[col].map({unique_values[0]: 1, unique_values[1]: 0}).astype('int64')
        # Verifica se a coluna é categórica com mais de dois valores únicos
        elif df[col].dtype == 'object':
            # Exibe a coluna e seus valores únicos antes de transformar em dummie
            df = pd.get_dummies(df,columns=[col], drop_first=True)
        elif df[col].dtypes == 'bool':
            df[col] = df[col].astype('int64')
    return df

In [121]:

df1 = process_categorical_columns(df1)

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [132]:

tabela_cruzada = pd.crosstab(df1['possui_email'], df1['posse_de_veiculo'], values=df1['mau'], aggfunc='mean')

tabela_cruzada

# A variável 'possui_email' parece mais poderosa.
# A diferença na probabilidade de mau=1 entre os que possuem email e os que não possuem é maior.

posse_de_veiculo         0         1
possui_email
0                 0.046931  0.041255
1                 0.024024  0.051724

Conclusão:

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [133]:

df1.to_csv('df1.csv', index=False)